/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
.idea/
*.iml
*.iws

.idea_modules/

.vscode/

*.DS_Store
.AppleDouble
.LSOverride
